html {
  background: linear-gradient(to bottom, #3772e4, white);
}

form {
  /* to center the form on the page*/
  margin: 30 auto;
  width: 300px;

  /* to see the outline of the form*/
  padding: 16px;
  border: 4px solid blue;
  border-radius: 24px;
  border-style: double;
  background-color: rgb(118, 141, 158);
  transition-timing-function: ease-in;
  transition-duration: 1.5s;

  /* fonts */
  font-size: 16;
  font: verdana;
  color: lightgreen;
}

form div + div {
  /* to add space between each of the form widgets*/
  margin-top: 16px;
}

label {
  /*to make sure all labels have the same size and are properly aligned*/
  display: block;
  text-align: left;
  width: 200px;
}


input, textarea, select, button {
  /* to make sure that all text fields have the same font settings*/
  font: 14px sans-serif;

  /* to give the same size to all text fields*/
  width: 300px;
  box-sizing: border-box;

  /* to harmonize the look and feel of text field border*/
  border: 1px solid darkgray;
}

input:focus, textarea:focus {
  /* to give a little hightlight on active elements */
  border-style: dotted;
  background-color: lightgreen;
}

textarea {
  /* to properly align multiline text fields with their labels */
  vertical-align: top;

  /* to give enough room to type some text */
  height: 80px;

  /* to allow users to resize any textarea vertically */
  resize: vertical;
}

input[type=checkbox]{
  width: 30px;
  height: 30px;
}
/* added for future use
could not get to work...
hide the checkbox in the stylesheet

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
to position the label
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

style the first span to create the unchecked graphics

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

reverse the background gradient

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

display a tick inside selected checkboxes

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}
to display a bullet inside a radio box

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}
*/

.button {
  /* to position the button to the same position as the text fields */
  padding-left: 90px;
}


div button {
  /* represents the same space as the space between labels and their text fields */
  margin-left: 8px;
  background-color: gray;
  color: black;
  border: shadow;
  border-radius: 12px;
  width: 200px;
}

div button:hover {
  transition-duration: 1s;
  background-color: green;
  color: white;
}
